<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="repositoryPath" value="packages" />
	</config>
	<packageSources>
		<!-- When <clear /> is present, previously defined sources are ignored -->
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="Microsoft Health CI" value="https://microsofthealthoss.pkgs.visualstudio.com/FhirServer/_packaging/CI/nuget/v3/index.json" />
        <add key="Microsoft Health Public" value="https://microsofthealthoss.pkgs.visualstudio.com/FhirServer/_packaging/Public/nuget/v3/index.json" />
        <add key="MedTech OSS" value="https://microsofthealthoss.pkgs.visualstudio.com/MedTech/_packaging/MedTechOSS/nuget/v3/index.json" />
		<!-- TODO: find out why we need to manually populated this directory with pkges from https://microsofthealthoss.visualstudio.com/FhirServer/_artifacts/feed/Public -->
		<add key="Local OSS" value="local-nupkg" />
<!--		<add key="Microsoft Health UUID" value="https://microsofthealthoss.pkgs.visualstudio.com/601b2fe9-d765-4218-a406-5591448028be/_packaging/c1f064eb-868e-4635-906a-25e6d6420a1b/nuget/v3/index.json" />-->
<!--		<add key="Microsoft MedTech UUID" value="https://microsofthealthoss.pkgs.visualstudio.com/7621b231-1a7d-4364-935b-2f72b911c43d/_packaging/a60b7c8b-c6ae-4a8e-bd15-a526b603a1f2/nuget/v3/index.json" />-->
<!--		<add key="Microsoft Health OSS" value="https://microsofthealthoss.pkgs.visualstudio.com/FhirServer/_packaging/Public/nuget/v3/index.json" />-->
<!--		<add key="Microsoft MedTech OSS" value="https://microsofthealthoss.pkgs.visualstudio.com/MedTech/_packaging/MedTechOSS/nuget/v3/index.json" />-->
<!--		-->
	</packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="Microsoft Health OSS">
      <package pattern="Microsoft.Health.*" />
    </packageSource>
	  <packageSource key="Microsoft Health Public">
		  <package pattern="Microsoft.Health.*" />
	  </packageSource>
	<packageSource key="MedTech OSS">
	  <package pattern="Microsoft.Health.*" />
	</packageSource>
	  <packageSource key="Local OSS">
		  <package pattern="Microsoft.Health.*" />
	  </packageSource>
  </packageSourceMapping>
<!--	<activePackageSource>-->
<!--		<add key="All" value="(Aggregate source)" />-->
<!--	</activePackageSource>-->
	<disabledPackageSources>
		<add key="Microsoft Visual Studio Offline Packages" value="true" />
	</disabledPackageSources>
</configuration>
